<div id="wrapper">
<aside id="intro">
    <h1 >{{title}}</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel nam voluptas aspernatur ad non similique impedit at blanditiis in tenetur.</p>

<a href="/design">Design</a>
</aside>

<main id="introMain">
    <div class="Orbitron" id="moon">
        <span class="introLines">
            MOON
        </span>
    </div>
    <div class="Indie" id="cats">
        <span class="introLines">CATS</span>
        
    </div>
    <div class="Start" id="player">
        <span class="introLines">
         PLAYER 1
         </span>
         </div>
</main>
</div>