html,
body {
    margin: 0;
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
}

h1 {}

p {}

button {
    background: #3f51b5;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    padding: 5px 20px;
    transition: opacity .4s;
    border: none;
    font-size: 1.2em;
}


a {
    background: #3f51b5;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    padding: 5px 20px;
    transition: opacity .4s;
}

a:hover {
    opacity: .7;
}

a#home {
    background: none;
    color: black;
    text-align: left;
    padding-left: 15px;
    display: inline-block;
    text-decoration: underline;
    margin-right: auto;
}

a#home:hover {
    font-weight: bold;
}

form div {
    max-width: 500px;
    padding: 10px 0;
    display: block;
    margin: auto;
}

form fieldset {
    border: 0;
}
#previewtext{
    font-family: Georgia, serif;
}

input[name=shirttext] {
    display: block;
    margin: auto;
}

input[name=size] {
    opacity: 0;
    position: absolute;
}

label:hover {
    cursor: pointer;
}

label.size {
    border: solid 1px black;
    width: 20px;
    height: 20px;
    display: inline-block;
    padding: 5px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */

}

input[name=size]:checked+label {
    background: #3f51b5;
    color: white;
}

input[name=color] {
    opacity: 0;
    position: absolute;
}

label.color {
    background: white;
    width: 90px;
    display: inline-block;
    border: solid 2px black;
    padding: 15px 0;
    color: black;
    margin: 5px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

/* input[value=red] + label{
    border-color: red;
}
input[value=blue] + label{
    border-color: blue;
}
input[value=black] + label{
    border-color: black;
} */

input[name=color]:checked+label {
    background: #3f51b5;
    color: white;
}

span {
    position: relative;
    /* ik weet dat ik dan net zo goed een div kan gebruiken.. */
    display: block;
    width: 40%;
    max-width: 500px;
    margin: auto;
    border: solid 1px black;
}

span img {
    position: relative;
    width: 100%;
    height: auto;
}

span p {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    font-size: 2vw;
    word-break: break-word;
}

.hide{
    display: none;
}

button#copy {
    position: relative;
    display: inline-block;

}
button#copy #tooltip{
    visibility: hidden;
    width: 140px;
    background-color: #8500ff;
    border: none;
    color: #fff;
    text-align: center;
    border-radius: 25px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  button#copy #tooltip::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #8500ff transparent transparent transparent;
  }

  button#copy:hover #tooltip{
    visibility: visible;
    opacity: 1;
  }